.primary-color {
    background-color: #1e88e5;
}

.primary-color-light {
    background-color: #6ab7ff;
}

.primary-color-dark {
    background-color: #005cb2;
}

.bg {
    background-color: #E1E2E1;
}

.navbar-toggler-icon {
    background-image: url("../img/hamburger-icon.svg") !important;
}

#modalBodyRegistry {
    height: 400px;
    overflow: hidden;
}

.autocomplete {
    position: relative;
    margin-top: -295px;
    max-height: 150px;
    overflow: scroll;
}

.autocomplete::-webkit-scrollbar {
    background: transparent;
}

.border-2 {
    border-width: solid 2px !important;
}
