<div class="row justify-content-center mt-3">
    <div class="card col-10 col-md-5 p-3 bg-light">
        <div id="log-container">
            <h3 class="text-center">Inicia sesión</h3>
        </div>
        <form id="login-form">
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Nombre de usuario..." required>
            </div>
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Contraseña de usuario..." required>
            </div>
            <button class="btn btl-lg btn-primary">Ingresar</button>
        </form><hr>
        <div class="form-group">
            <span class="form-text text-muted">¿No tienes usuario? Registrate:</span>
            <button class="btn btl-lg btn-success" id="btn-sigin">Registrarse</button>
        </div>
    </div>
</div>
