<nav class="navbar navbar-light navbar-1 primary-color">
    <img src="/mediapp/public/img/logo_transparent.png" width="80" height="80" class="d-inline-block align-top" alt="" loading="lazy">
    <span class="navbar-brand"><h1><span class="badge badge-pill badge-light" id="navbar-title"></span></h1></span>
    <a class="btn btn-dark btn-lg" href="/mediapp/php/logout.php">Cerrar sesión</a>
</nav>