<div class="row justify-content-center mt-3">
    <div class="card col-10 col-md-5 p-2">
        <div id="log-container">
            <h3 class="text-center">Registrar nuevo usuario</h3>
        </div>
        <form id="sigin-form">
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Nombre de usuario..." required>
            </div>
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input type="password" id="password1" class="form-control" name="password1" placeholder="Contraseña de usuario..." required>
            </div>
            <div class="form-group">
                <label for="username">Confirme la contraseña:</label>
                <input type="password" id="password2" class="form-control" name="password2" placeholder="Repita la contraseña de usuario..." required>
            </div>
            <button class="btn btl-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>
<div class="row justify-content-center text-center mt-3 mb-3">
    <button class="col-10 col-md-5 btn btn-secondary btn-lg" id="btnHome">Regresar!</button>
</div>
